#header{
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
}
.contacts_section{
    display: flex;
    align-items: center;
}
a{
    font-family: Fira Sans;
}
#comeIn_button{
    background: #46BADE;
    border-radius: 20px;
    padding: 10px 20px;
    color: aliceblue;
    margin-left: 20px;
}
.main_links{
    color: var(--light-text, #9A9EA6);
}
#logo_link{
    color: black;
    font-weight: 800;
    font-size: 30px;
}
