@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@300;400;500&family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans+SC:wght@300;400;500&family=Inter:wght@300;400;500&family=Jockey+One&display=swap');

:root{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
  }

.container{
    max-width: 1200px;
    margin: 0 auto;

}
@media (max-width: 1200px) {
    .container{
        max-width: 1025px;
    }
}
@media (max-width: 1024px) {
    .container{
        max-width: 769px;
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 95%;
    }
}

@media (max-width: 480px) {
    .container{
        max-width: 95%;
    }
}